body {
    font-family: 'Montserrat', sans-serif;
}

.red{
    color: red;
}

.dark{
    color: black;
}

.card {
    display: inline-block;
    background: gray;
    padding: 5px 10px;
    margin: 10px;
}

ol {
    color: #fff;
    background-color: rgb(227, 162, 175);
    list-style-position: inside;
    padding: 10px 0;
    margin: 50px auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fruits-list {
    background-color: rgb(185, 104, 120);
    margin: 10px;
    padding: 10px 10px;
    transition: .7s;
    border-radius: 10px;
}

.fruits-list:hover{
    background-color: rgb(147, 61, 76);
    transition: .7s;
}

.list-item {
    background-color: rgb(147, 61, 76);
    padding: 10px 10px;
    border: none;
    margin: 0 5px;
    border-radius: 10px;
}
