<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<header>
    <img class="burger" src="src/images/burger.png" alt="">
    <img class="logo" src="src/images/LOGO.png" alt="">
    <nav>
        <ul>
            <li>Home</li>
            <li>Services</li>
            <li>About me</li>
            <li>Contact me</li>
        </ul>
    </nav>
    <button class="hireButton">Hire Me</button>
</header>

<main>
    <div class="container">
        <div class="about">
            <h3>Hi i am</h3>
            <h2>Mahmood Fazile</h2>
            <h1>UI/UX Designer</h1>
            <div class="socialMedia">
                <a href="#">
                    <img src="src/images/icons/instagram.png" alt="">
                </a>
                <a href="#">
                    <img src="src/images/icons/linked.png" alt="">
                </a>
                <a href="#">
                    <img src="src/images/icons/ball.png" alt="">
                </a>
                <a href="#">
                    <img src="src/images/icons/be.png" alt="">
                </a>
            </div>
            <div class="buttonsContainer">
                <button class="hireButton">Hire Me</button>
                <button class="cvButton">Download CV</button>
            </div>
            <div class="experience">
                <div class="cell">
                    <h3>5+</h3>
                    <p>Experience</p>
                </div>
                <div class="cell centerCell">
                    <h3>20+</h3>
                    <p>Project done</p>
                </div>
                <div class="cell">
                    <h3>80+</h3>
                    <p>Happy Clients</p>
                </div>
            </div>
        </div>
        <div class="imageContainer">
            <img src="src/images/manImage.png" alt="">
        </div>
    </div>
    <div class="services">
        <div class="title">
            <h3>Services</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="cards">
            <div class="card">
                <img src="src/images/icons/user.png" alt="">
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet Imperdiet.</p>
            </div>
            <div class="card">
                <img src="src/images/icons/user.png" alt="">
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet Imperdiet.</p>
            </div>
            <div class="card">
                <img src="src/images/icons/user.png" alt="">
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet Imperdiet.</p>
            </div>
            <div class="card">
                <img src="src/images/icons/user.png" alt="">
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet Imperdiet.</p>
            </div>
            <div class="card">
                <img src="src/images/icons/user.png" alt="">
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet Imperdiet.</p>
            </div>
            <div class="card">
                <img src="src/images/icons/user.png" alt="">
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet Imperdiet.</p>
            </div>
        </div>
    </div>
    <div class="aboutMe">
        <h3>About Me</h3>
        <p class="subtitle">User Interface and User Experience and Also</p>
        <img src="src/images/manImage.png" alt="">
        <p class="description">A software engineer, the modern-day architect of digital realms, navigates the ethereal landscapes of code, sculpting intangible structures that shape our technological world. With fingers poised over keyboards like virtuoso pianists, they compose symphonies of logic, their minds a labyrinth of algorithms and solutions. Their canvas is a screen, a vast expanse where lines of code dance in intricate patterns, weaving the fabric of programs and applications.</p>
        <button class="downloadCV">
            <img src="src/images/icons/Download.png" alt="">
            Download CV
        </button>
    </div>
    <div class="contactForm">
        <h3>Contact Me</h3>
        <p>Cultivating Connections: Reach Out and Connect with Me</p>
        <form action="#">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="number" placeholder="Phone Number">
            <select name="interest" id="interest-select">
                <option value="" disabled selected>Select your option</option>
                <option value="Web Design">Web Design</option>
                <option value="Web Development">Web Development</option>
                <option value="Web Design">Web Design</option>
                <option value="Web Design">Web Design</option>
                <option value="Web Design">Web Design</option>
            </select>
            <input type="text" placeholder="Timeline">
            <textarea placeholder="Project Details..."></textarea>
        </form>
        <button>Send</button>
    </div>
</main>
<footer>
    <div class="footerContainer">
        <div class="nav">
            <h3>Logo</h3>
            <ul>
                <li>Home</li>
                <li>Services</li>
                <li>About me</li>
                <li>Contact me</li>
            </ul>
        </div>
        <div class="socialMedia">
            <a href="#">
                <img src="src/images/icons/instagram.png" alt="">
            </a>
            <a href="#">
                <img src="src/images/icons/linked.png" alt="">
            </a>
            <a href="#">
                <img src="src/images/icons/ball.png" alt="">
            </a>
            <a href="#">
                <img src="src/images/icons/be.png" alt="">
            </a>
        </div>
        <div class="wrapper">
            <img src="src/images/icons/mail.png" alt="">
            <p>Bertashevskyyv@gmail.com</p>
        </div>
        <div class="wrapper">
            <img src="src/images/icons/phone.png" alt="">
            <p>+93 729 107 005</p>
        </div>
    </div>
</footer>
</body>
</html>