@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #121212;
}

.main_title {
  font-size: 40px;
  font-weight: 700;
  color: #FEFEFE;
  margin-bottom: 18px;
}

.main_subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #707070;
  margin-bottom: 80px;
}

.gray_button {
  cursor: pointer;
  padding: 15px 40px;
  background: transparent;
  border: 2px solid #959595;
  border-radius: 8px;
  color: #959595;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  transition: 0.3s;
}
.gray_button:hover {
  background: #959595;
  color: #121212;
  transition: 0.3s;
}

.orange_button {
  cursor: pointer;
  border: 1px solid #FD6F00;
  border-radius: 8px;
  padding: 15px 40px;
  background: #FD6F00;
  color: #fff;
  transition: 0.3s;
}
.orange_button:hover {
  background: transparent;
  color: #FD6F00;
  transition: 0.3s;
}

header {
  position: sticky;
  top: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(18, 18, 18) 0%, rgba(18, 18, 18, 0.8730085784) 100%);
  z-index: 100;
  padding: 0 80px;
}
header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
header .header__inner .header__burger {
  display: none;
}
header .header__inner .header__logo {
  font-family: "K2D", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(90deg, #FA6E00 0%, #E60026 100%);
  background-clip: text;
  color: transparent;
}
header .header__inner .header__nav {
  width: 65%;
}
header .header__inner .header__nav .header__nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header .header__inner .header__nav .header__nav-list .nav__item {
  font-size: 20px;
}
header .header__inner .header__nav .header__nav-list .nav__item a {
  text-decoration: none;
  color: #959595;
  transition: 0.3s;
}
header .header__inner .header__nav .header__nav-list .nav__item a:hover {
  color: #FD6F00;
  transition: 0.3s;
}
header .header__inner .header_button {
  font-size: 16px;
}

main {
  padding: 0 80px;
}
main .home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
main .home .element-animation {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s;
}
main .home .element-animation.element-show {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}
main .home .home__img.element-animation {
  transform: translateX(50px);
}
main .home .home__img.element-animation.element-show {
  transform: translateX(0);
}
main .home__info {
  display: flex;
  flex-direction: column;
  width: 535px;
}
main .home__info_typewriter .info_welcome-text {
  font-size: 24px;
  font-weight: 600;
  color: #707070;
  margin-bottom: 10px;
}
main .home__info_typewriter .info_name-text {
  font-size: 28px;
  font-weight: 700;
  color: #959595;
  margin-bottom: 25px;
}
main .home__info_typewriter .info_speciality-text {
  font-size: 70px;
  font-weight: 900;
  background: linear-gradient(90.48deg, #984300 0.34%, #FD6F00 42.06%, #CA5900 90.34%);
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
  width: 510px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(50, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 510px;
  }
}
main .home__info_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
  margin-bottom: 60px;
}
main .home__info_media img {
  cursor: pointer;
}
main .home__info_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
main .home__info_buttons .hire_button {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
main .home__info_projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  width: 100%;
  height: 125px;
  background: rgb(27, 27, 27);
}
main .home__info_projects h3 {
  color: #FD6F00;
  font-size: 24px;
  font-weight: 800;
}
main .home__info_projects p {
  color: #DFDFDF;
  font-size: 20px;
  font-weight: 700;
}
main .home .home__img {
  filter: grayscale(1);
}
main .services {
  margin-bottom: 150px;
}
main .services .element-animation {
  opacity: 0;
  transform: translatey(30px);
  transition: all 0.5s;
}
main .services .element-animation.element-show {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}
main .services__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .services__inner .services_table {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}
main .services__inner .services_table .table-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(27, 27, 27);
  border-radius: 8px;
  padding: 35px 30px;
}
main .services__inner .services_table .table-element img {
  margin-bottom: 15px;
}
main .services__inner .services_table .table-element .element-title {
  font-size: 24px;
  font-weight: 700;
  color: #FD6F00;
  margin-bottom: 35px;
}
main .services__inner .services_table .table-element .element-description {
  font-size: 20px;
  font-weight: 500;
  color: #575757;
  text-align: center;
}
main .aboutMe.element-animation {
  opacity: 0;
  transform: translatey(30px);
  transition: all 0.5s;
}
main .aboutMe.element-animation.element-show {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}
main .aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
main .aboutMe_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .aboutMe_container .aboutMe_image {
  filter: grayscale(1);
}
main .aboutMe_container .aboutMe_info {
  margin-left: 100px;
}
main .aboutMe_container .aboutMe_info-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  text-align: justify;
  color: #959595;
  margin-bottom: 40px;
}
main .aboutMe_container .aboutMe_info-button {
  font-size: 20px;
  font-weight: 700;
}
main .knowledgeProcess.element-animation {
  opacity: 0;
  transform: translatey(30px);
  transition: all 0.5s;
}
main .knowledgeProcess.element-animation.element-show {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}
main .knowledgeProcess {
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
main .knowledgeProcess_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .knowledgeProcess_item-image {
  margin-bottom: 25px;
}
main .knowledgeProcess_item-title {
  color: #FD6F00;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}
main .knowledgeProcess_item-subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #959595;
}
main .portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}
main .portfolio .main_title {
  margin-bottom: 40px;
}
main .portfolio_navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: 70px;
}
main .portfolio_navigation_item {
  color: #C6C6C6;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 40px;
  background: rgb(27, 27, 27);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
main .portfolio_navigation_item.active {
  color: #FFFFFF;
  background: #FD6F00;
  transition: 0.3s;
}
main .portfolio_project {
  font-size: 16px;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
main .portfolio_project-item {
  background: rgb(27, 27, 27);
  border-radius: 28px;
}
main .portfolio_project_info {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}
main .portfolio_project_info-title {
  color: #C6C6C6;
}
main .portfolio_project_info-subtitle {
  color: #959595;
}
main .contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}
main .contactMe_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 80%;
  margin-bottom: 30px;
}
main .contactMe_form-input {
  background: rgb(27, 27, 27);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 25px;
  color: #959595;
  width: 100%;
  height: fit-content;
}
main .contactMe_form-input:focus {
  outline: none;
}
main .contactMe_form textarea {
  font-family: "Lato", sans-serif;
  height: 150px;
  resize: none;
}
main .contactMe_button {
  display: flex;
  justify-content: end;
  width: 80%;
}

footer {
  background-color: rgb(27, 27, 27);
  padding: 40px 0;
}
footer .footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
footer .footer_container-title {
  background: linear-gradient(90deg, #FA6E00 0%, #E60026 100%);
  color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
footer .footer_container-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  margin-bottom: 50px;
}
footer .footer_container-items .footer_container-item a {
  text-decoration: none;
  color: #959595;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
}
footer .footer_container-items .footer_container-item a:hover {
  color: #FD6F00;
  transition: 0.3s;
}
footer .footer_container-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-bottom: 50px;
}
footer .footer_container-contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #959595;
  width: 70%;
}
footer .footer_container-contacts .footer_container-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_container-contacts .footer_container-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_container-contacts img {
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
