    // @import url(bootstrap-grid.scss); // import as file
header {
    nav.navbar {
        background-color: #1A1A1A !important;

        a,
        span {
          color: #C7C7C7;
        }
      
        .navbar-brand {
          text-transform: uppercase;
        }
    
        .container-fluid {
            
        }
    
        .navbar-toggler-icon {
            
        }
      }
}


      #banner {
            margin-bottom: 64px;

        h3 {
            // text-transform: uppercase;
            font-size: 40px;
        }
        .profile {
            width: 100%;
            max-width: 600px;
            max-height: 663px;
        }
        .socials {
            .bi-linkedin, .bi-github {
                width: 24px; 
                font-size: 18px;
                &::before{
                    width: 24px; 
                    font-size: 24px; 
                }
            }
            .bi-linkedin {
                color: #d3e97a;
                // background-color: #d3e97a;
                &::before{
                    // color: #222222;
                    // background-color: #d3e97a;
                }
            }
        }

        @media (min-width: 769px) {
            margin-bottom: 80px;

            h3 {
                font-size: 70px;
            } 
        }
      }

      .c-pointer {
            cursor: pointer;
      }

      #projects {
        color: white;

        h3 {
            line-height: 140%;
            text-transform: uppercase;
        }
        p {
            color: #C7C7C7;
        }

        .cards {

            .cards-heading {
                margin-bottom: 64px;
            }
            
            .card {
                color: white;
                background-color: transparent;

                .img-wrapper {
                    background-color: #1A1A1A;  
                  }
            }
        }

        @media (min-width: 768px) {
            .cards {
                .cards-heading {
                    margin-bottom: 80px;
                }
            }
        }
      }