html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: url('field.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

#ball {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
