body {
}

.header {
    box-sizing: border-box;
    width: 500px;
    height: 100px;
}

.menu {
}

.main-fool {
}

.aside-1-2 {
}

.aside-1 {
}

.aside-2 {
}

.main {
}

.sec-1 {
}

.sec-2 {
}

.aside-3 {
}

.foot {
}