body {
    margin: 50px;
}

.block {
    position: relative;
}

.post {
    width: 65%;
}

.picture {
    width: 35%;
    float: right;
    margin-top: -140px;
}

.picture1 {
    width: 100%;
    border-radius: 30px;
}

.picture2 {
    width: 100%;
    border-radius: 30px;
}

figcaption {
    background-color: rgb(0, 30, 131);
    height: 50px;
    color: white;
    margin-top: -45px;
    position: relative;
    border-radius: 0 0 20px 20px;
    text-align: right;
}

@media (min-width: 600px) and (max-width: 800px) {
    .post {
        width: 100%;
    }

    .picture {
        display: flex;
        width: 100%;
        margin-top: 10px;
    }

    figcaption {
        height: 90px;
    }
}

@media (max-width: 600px) {
    .post {
        width: 100%;
    }

    .picture {
        width: 100%;
        margin-top: 10px;
    }

    figcaption {
        height: 90px;
    }

}