.wraper-1 .el {
    font-weight: 600;
}

.wraper-1 .el:first-child {
    margin: 20px 0;
}

.wraper-1 .el:last-child {
    margin: 30px 0;
    border-top: 30px solid transparent;
    margin-top: 0;
}

.wraper-2 .el:first-child {
    margin: 20px 0;
    padding: 10px 0;
}

.wraper-2 .el:last-child {
    margin: 30px 0;
}