body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.chat-container {
    width: 1090px;
    background-color: #ffffff;
    padding: 30px;
}