@import url(clear.css);
@import url(font.css);

html {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 112px;
    padding: 17px 16px;

    z-index: 100;
}

.menu {
    display: none;
}

header svg {
    margin: 23px 0px;
}

.banner {
    min-height: 770px;
    background: linear-gradient(60deg, #ef2779 0%, #7834be 100%);
    padding-top: 100px;
}

.banner .wrapper {
    padding: 30px 20px;

    text-align: center;
    position: relative;
    height: 100%;
}


.banner .wrapper .text-wrapper {
    padding: 50px 30px 0;
    color: white;
}

.banner .wrapper img {
    margin-top: 60px;
}

.image-wrapper {
    background-color: white;
    position: absolute;
    margin-bottom: -331px;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.banner .wrapper>img:first-of-type {
    margin-top: 60px;
    position: relative;
    z-index: 3;
}

.wrapper button {
    width: 236px;
    height: 60px;
    background-color: #38A3F1;
    color: white;
    line-height: 33px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 35px;
    margin-top: 60px;
    position: relative;
    z-index: 3;
}

.text-wrapper h2,
.text-wrapper h4 {
    text-shadow: 0 4px 4px #000000;
    letter-spacing: 0.2px;
    padding: 10px;
}

.text-wrapper h2 {
    font-size: 46px;
    line-height: 57px;
}

.text-wrapper h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
}

header svg:hover {
    transform: scale(1.8);
}

@media screen and (min-width: 1440px) {
    .menu {
        display: flex;
        align-items: center;
    }

    .menu ul {
        display: flex;
        padding: 0;
        margin-right: 44px;
    }

    .menu ul li {
        margin: 10px;
        list-style: none;
        padding: 15px;
    }

    .menu ul li a {
        text-decoration: none;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: white;
    }

    header svg {
        display: none;
    }

    input[type^="email"] {
        width: 273px;
        height: 54px;
        border-radius: 30px;
        padding-left: 40px;
        font-size: 14px;
    }

    input[type^="button"] {
        width: 141px;
        height: 54px;
        border-radius: 30px;
        color: #EF2779;
        font-size: 14px;
        margin-left: 12px;
        margin-right: 40px;
    }

    .menu ul li :hover {
        text-decoration: underline;
        font-size: 20px;
        font-weight: bold;
    }

    input[type^="button"]:hover {
        background-color: #70183dae;
        color: white;
    }

    input[type^="email"]:hover {
        background-color: rgba(0, 0, 0, 0.227);
        color: white;
    }
}