* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 10px 0;
    border: 1px solid black;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex div,
.inline-flex div {
    margin: 5px 0;
    padding: 10px;
}

/*                         */

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/*                         */

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

/*                         */

.align-items-start {
    height: 300px;
    align-items: start;
}

.align-items-end {
    height: 300px;
    align-items: end;
}

.align-items-center {
    height: 300px;
    align-items: center;
}

.align-items-stretch {
    height: 300px;
    align-items: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/*                                  */
.flex-wrapper {
    height: 800px;
}

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-stretch {
    align-content: stretch;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

/*                                         */
.orders .order:nth-last-of-type(1) {
    order: 2;
    border: 2px solid red;
}

.orders .order:nth-last-of-type(2) {
    border: 2px solid black;
}

/*                                       */
.flex-flow {
    flex-flow: column wrap;
}

/*   
                                  */
.flex-basis {
    display: flex;
}

.flex-basis div {
    flex-basis: 50%;
}

/*                                   */
.flex-grow {
    display: flex;
    flex-basis: 200px;
}

.flex-grow div:nth-last-of-type {
    flex-grow: 1;
}

.flex-grow div:nth-last-of-type {
    flex-grow: 1;
}

.flex-grow div:nth-last-of-type {
    flex-grow: 1;
}

.flex-grow div :nth-last-of-type {
    flex-grow: 1;
}

/*                                   */
.flex-shrink {
    display: flex;
}

.flex-shrink div {

    flex-basis: 250px;
    flex-shrink: 1;
}

.flex-shrink div:nth-child(2) {
    flex-shrink: 2;
}