.wraper {
    width: 100%;
    padding: 50px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}

.cards h3 {
    text-align: center;
}

.cards p {
    padding: 10px;
    width: 100%;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cont