.wraper {
    width: 100%;
    padding: 50px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card {
    /* 1 */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33%;
    /* 2 */
    flex: 0 1 33%;
    background: linear-gradient(10deg, #67c17d, 1%, #b6d9e2 100%);
}