.wrapper {
    display: flex;
    width: 90%;
    padding: 50px;
}

.cards-one,
.cards-two,
.cards-three {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
    padding: 20px;

}

.card {
    display: flex;
    justify-content: space-around;
}

.content {
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 29%;
    background-color: rgb(163, 163, 223);
    height: max-content;
}