.main {
    width: 800px;
    height: 800px;
}

h2 {
    width: 400px;
    pointer-events: none;
}

.image {
    background-image: url(images/photo.jpg);
    width: 50%;
    height: 225px;
    background-size: 100%;
    background-position: center;
    transition: background-size 1s ease;
}

.background {
    width: 800px;
    height: 225px;
    position: absolute;
    transition: all 0.3s ease;
}

.block-one,
.block-two,
.block-three {
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    text-align: center;
}

.background:hover {
    background-color: rgba(0, 0, 0, 0.5);

}

.block-one:hover .image,
.block-two:hover .image,
.block-three:hover .image {
    background-size: 130%;
}