.highText {
    display: grid;
    place-items: center; 
}

.highText h1 {
    font-size: 3.2rem;
    color: #333;
    margin: 0;
}

.highText h3, p {
    margin: 0;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.textCard {
    background-color: #e6e5e5;
    border-radius: 8px;
    padding: 20px;
    margin: 8px;
    font-family: 'Arial, sans-serif';
    width: 25%;
    height: 210px;
}

.textCard:hover {
    background-color: #474747;
    color: white;
    transition: background-color 0.3s ease;
}

.textCard:hover .inTextCard::before {
    opacity: 1; 
}

.inTextCard {
    display: flex;
    align-items: center;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
}

.textSmaller {
    font-size: 1.2rem;
}

@media (max-width: 360px) {
    section{
        flex-direction: column;
        align-items: center;
    }
    .textCard {
        width: 90%;
        height: 280px;
    }
}
