/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

h3 {
    margin: 10px 0;
}

.container {
    background-color: rgba(173, 217, 230, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
}

.column {
    flex: 1 1 33.333%;
    max-width: 33.333%;
    padding: 10px;
}

.top-column {
    display: flex;
    justify-content: center;
    background-color: rgba(195, 195, 195, 1);
    padding: 20px;
}

.bottom-column {
    background-color: rgba(245, 245, 245, 1);
    padding: 20px;
}

.first-top {
    padding: 40px;
}

.second-top {
    padding: 20px;
}

.third-top {
    padding: 20px;
}

.fourth-top {
    padding: 60px;
}

.fifth-top {
    padding: 60px;
}

.sixth-top {
    padding: 70px;
}

.seventh-top {
    padding: 20px;
}

.eighth-top {
    padding: 40px;
}

.ninth-top {
    padding: 40px;
}
