.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 50px;
    height: auto;
}

.pinkcontainer, .bluecontainer {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 400px;
}

.bluetext {
    background-color: rgb(122, 195, 243);
    padding: 4px;
    border-radius: 20px 20px 0px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}


.pinktext {
    background-color: rgb(255, 117, 186);
    padding: 4px;
    border-radius: 20px 20px 20px 0px;
    padding-left: 20px;
}

